.secondPageAbout {
  width: 100%;

  .AboutSecondContainerList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }
}

@media screen and (max-width: 991px) {
  .secondPageAbout {
    .AboutSecondContainerList {
      width: 100%;
      display: flex;
    }
  }
}
