.G-justify-content-center {
  justify-content: center;
}
.G-align-items-center {
  align-items: center;
}
.G-justify-space-evenly {
  justify-content: space-evenly;
}
.G-justify-space-between {
  justify-content: space-between;
}
.G-justify-align-center {
  justify-content: center;
  align-items: center;
}
.G-just-alin-center {
  justify-content: center;
  align-items: center;
}
.G-direction-aline-justify {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}