@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');


.G-Container{
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto Flex', sans-serif;
}