.FisrtHomeContainer {
  width: 95%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
  .firstHomeContTitle {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    line-height: 1.5;
    h2 {
      font-size: 40px;
      font-weight: 500;
    }
    p {
      font-size: 30px;
    }
    span {
      font-weight: 100;
      font-size: 18px;
    }
  }
  .imgCont {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.slick-next {
  right: 25px;
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
}
.slick-prev {
  left: 25px;
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  z-index: 1;
  outline: none;
}

.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: black;
}
.slick-prev:before {
  font-size: 20px;
  color: black;
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
  .FisrtHomeContainer {
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .FisrtHomeContainer {
    background-color: transparent;
  }
}
@media screen and (max-width: 567px) {
  .FisrtHomeContainer {
    background-color: transparent;
  }
}
@media screen and (max-width: 320px) {
  .FisrtHomeContainer {
    width: 100%;
    background-color: transparent;
    .firstHomeContTitle {
      h2 {
        font-size: 40px;
        font-weight: 500;
      }
      p {
        font-size: 30px;
      }
      span {
        font-weight: 100;
        font-size: 18px;
      }
    }
  }
}
