.ContacContainer {
  width: 100%;
  .mapContainer {
    width: 100%;
    height: 350px;
    border: none;
    .map {
      width: 100%;
      height: 100%;
    }
  }

  .input-section {
    width: 70%;
    margin: 0 auto;
    border-radius: 3px;
    font-family: "Open Sans", sans-ser;
    font-size: 18px;
    padding: 90px 0;

    .input-position {
      display: flex;
      justify-content: space-between;
      .input {
        padding: 9px 240px 9px 9px;
        font-size: 18px;
        border: 1px solid #e8e8e8;
        margin: 14px 0;
        border-radius: 3px;
        font-family: "Open Sans", sans-ser;
      }
      .input:active {
        border: 2px dashed #59ab6e;
      }
    }
    .subject {
      width: 100%;
      padding: 9px 9px 9px;
      font-size: 18px;
      border: 1px solid #e8e8e8;
      margin: 8px 0;
      border-radius: 3px;
      font-family: "Open Sans", sans-ser;
    }

    .message {
      width: 100%;
      border: 1px solid #e8e8e8;
      margin: 12px 0;
      border-radius: 3px;
      font-size: 16px;
      padding: 12px 0 150px 12px;
      resize: vertical;
    }

    .btn-position {
      display: flex;
      flex-direction: row-reverse;
      .button {
        font-family: "Open Sans", sans-ser;
        font-size: 20px;
        color: white;
        padding: 9px 16px;
        background-color: #59ab6e;
        border: none;
        border-radius: 3px;
        font-weight: bold;
      }
    }
  }
}
