.home {
  .firstList {
    z-index: 10;
    width: 100%;
    background-color: #efefef;
  }

  .thirdList {
    width: 100%;
    background-color: #e9eef5;
  }
  .secondListItemContainer {
    width: 100%;
    display: flex;
  }
  .thirdListItemContainer {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
