.LeftCaruselContainer {
  display: flex;
  flex-direction: column;
  .topContainer {
    position: relative;
    left: 20px;
  }

  .bottomImgCarusel {
    position: relative;
    right: 20px;
    margin: 0 auto;
  }
  .sliderPics {
    margin: 0 auto;
    width: 120px;
    height: 120px;
  }
  .topImg {
    width: 524px;
    height: 524px;
  }

  .slick-next::before {
    position: absolute;
    color: black;
    right: 0;
  }
  .slick-prev::before {
    color: black;
    position: absolute;
    left: -36px;
  }
}

@media screen and (max-width: 991px) {
  .LeftCaruselContainer {
    border: 1px solid black;
    .topContainer {
      width: 95%;
      margin: 0 auto;
      .sliderPics {
        width: 120px;
        height: 120px;
      }
      .topImg {
        width: 524px;
        height: 524px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .LeftCaruselContainer {
    .bottomImgCarusel {
      width: 100%;
    }
    .topContainer {
      margin: 0 auto;
    }
    .topImg {
      width: 50%;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 568px) {
}
@media screen and (max-width: 480px) {
}
